.news {
  display: flex;
  flex-direction: column;
}

.news-ctrl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-ctrl span:first-child {
  background-color: #fed700;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.news-ctrl span:last-child {
  background-color: #fff;
  padding: 4px 6px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(22, 150, 255);
}

.new-banner {
  margin-top: auto;
}

.new-banner img {
  width: 100%;
}
